.char {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info {
    border: 2px solid #ffff00;
    color: #feffbd;
    font-size: 16px;
}

.img {
    border: 3px solid #ffffff;
    width: 200px;
    height: 200px;
}